# Ignorar archivos de configuración de VS Code
.vscode/
*.code-workspace

# Ignorar archivos de sistema en macOS
.DS_Store

# Ignorar carpeta de compilación
build/
build/*

# Ignorar archivos de depuración de macOS
*.dSYM/
*.dSYM/**

# Ignorar ejecutables y archivos compilados en cualquier carpeta
*.o
*.obj
*.out
*.a
*.so
*.exe
*.dll
*.bin
*.dylib
*.lo
*.la
*.al
*.libs

# Ignorar ejecutables sin extensión dentro de Homework_1/source/
Homework_1/source/exercise1
Homework_1/source/exercise*

# Ignorar todo en Homework_1/source, excepto código fuente
Homework_1/source/*
!Homework_1/source/*.cpp
!Homework_1/include/*.h

# Ignorar archivos temporales
*.tmp
*.swp
*.swo
*.bak
*~
